
.background {
  float: left;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  height: 88vh;
  width: 75%;
  margin-left: 25px;
}

@media screen and (max-width: 1500px) and (min-width: 1000px) {
  .background {
    width: 65%;
  }
}
