
.background {
  float: left;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  height: 80vh !important;
  width: 75%;
  margin-left: 1%;
}

@media only screen and (max-width: 500px) {
  .background {
    width: 65%;
  }
}
