.CSSViewer {
  float: right;
  height: 100vh;
  overflow: scroll;
  width: 20%;
  margin-right: 20px;
  border-width: 3px 3px 3px 2px;
  border-color: #ccc;
  border-style: solid;
  font-family: 'Roboto Mono';
}

.CSSheader {
  display: block;
  font-family: 'Comfortaa';
  font-weight: bold;
  text-align: center;
  border-width: 0 0 3px 0;
  border-color: #ccc;
  border-style: solid;
  /*background-color: #eee;*/
}

.CSSViewer h1 {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  padding-bottom: 10px;
  padding-top: 10px;
}
