.header {
  /*border: 1px dashed blue;*/
  height: 80px;
}

.header button {
  float: right;
  margin-top: 5%;
}

.header h1 {
  float: left;
  /*margin-left: 10px;*/
  /*padding-bottom: 10px;*/
  font-size: 2.5em;
  font-family: 'Short Stack';
  -webkit-margin-before: 0.25em;
  -webkit-margin-after: 0em;
  margin-left: 20px;
  /*border: 1px dashed red;*/
  display: inline-block;
  color: #ff0066;
}

.buttonDiv {
  /*border: 1px dashed red;*/
  display: inline-block;
  float: right;
  margin-right: 4.5%;
  margin-top: 20px
}
