.HTMLViewer {
  float: right;
  height: 88vh;
  overflow: scroll;
  width: 20%;
  margin-right: 25px;
  border-width: 3px 3px 3px 2px;
  border-color: #ccc;
  border-style: solid;
  font-family: 'Roboto Mono';
}

.HTMLheader {
  display: block;
  font-family: 'Comfortaa';
  font-weight: bold;
  text-align: center;
  border-width: 0 0 3px 0;
  border-color: #ccc;
  border-style: solid;
}

.HTMLViewer h1 {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  padding-bottom: 10px;
  padding-top: 10px;
}

.HTMLViewer p {
  line-height: 65%;
  padding-left: 10px;
}

@media screen and (max-width: 1500px) and (min-width: 1000px) {
  .HTMLViewer {
    width: 29%;
  }
}
