.htmlViewer{
  float: left;
  height: 100vh;
  overflow: scroll;
  width: 20%;
  margin-right: 20px;
  margin-left: 5px;
  border-width: 6px 6px 6px 5px;
  border-color: #ccc;
  border-style: solid;
}
