.colorpickerdiv {
  width: 60%;
}

.createsection,
.sections,
.dimensions,
.borderstyle,
.positioning,
.textstyle,
.imagesize {
  border: 2px solid #ccc;
  border-radius: 10px;
  display: block;
  width: 95%;
  height: 130px;
  margin: 10px 0;
  padding: 10px;
}

.imagesize,
.createsection {
  height: 90px;
}

.settingSection,
.settingBorder,
.settingPosition {
  width: 170px;
  margin: 1px;
  float: left;
}

h3 {
  margin-top: 2px;
}

h5 {
  font-size: 0.9em;
  margin: 0;
  margin-bottom: 2px;
}

.resize {
  background-color: red;
  padding: 1px 10px;
  border-radius: 3px;
  border-style: solid;
  border-width: thin;
  border-color: #d0d0d0;
  background-color: #f0f0f0;
  margin-right: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

.textbutton {
  background-color: red;
  padding: 3px 0px;
  width: 152px;
  border-radius: 3px;
  border-style: solid;
  border-width: thin;
  border-color: #d0d0d0;
  background-color: #f0f0f0;
  margin-right: 3px;
  font-size: 0.9em;
  cursor: pointer;
}

select {
  background-color: red;
  padding: 5px 0px;
  width: 152px;
  border-radius: 3px;
  border-style: solid;
  border-width: thin;
  border-color: #d0d0d0;
  background-color: #f0f0f0;
  margin-right: 3px;
  font-size: 0.9em;
  cursor: pointer;
}

input {
  padding: 3px 10px;
  width: 140px;
  border-radius: 3px;
  border-style: solid;
  border-width: thin;
  border-color: #d0d0d0;
  margin-right: 3px;
  margin-bottom: 5px;
  font-size: 0.9em;
  width: 130px;
}
