.colorpickerdiv {
  width: 400px;
}

.createsection,
.sections,
.dimensions,
.borderstyle,
.positioning,
.textstyle,
.imagesize {
  border: 2px solid #ccc;
  border-radius: 10px;
  display: block;
  width: 95%;
  height: 130px !important;
  margin: 10px 0;
  padding: 10px;
  height: 95px;
}

.imagesize,
.createsection {
   height: 90px;
 }

 .dimensions {
   height: 60px;
 }

 .borderstyle {
   height: 70px;
 }

 .positioning{
   height: 110px;
 }

.settingSection,
.settingBorder,
.settingPosition {
  margin: 1px;
  float: left;
}

.settingSection {
  width: 160px;
  float: left;
}

.settingBorder {
  width: 140px;
}

h3 {
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
}

h5 {
  margin: 0;
  margin-bottom: 2px;
}

.menu .plusButton {
  padding: 3px;
}

.resize {
   background-color: red;
   padding: 1px 10px;
   border-radius: 3px;
   border-style: solid;
   border-width: thin;
   border-color: #d0d0d0;
   background-color: #f0f0f0;
   margin-right: 5px;
   font-size: 1.2em;
   cursor: pointer;
  }

.textbutton {
   background-color: red;
   padding: 3px 0px;
   width: 152px;
   border-radius: 3px;
   border-style: solid;
   border-width: thin;
   border-color: #d0d0d0;
   background-color: #f0f0f0;
   margin-right: 3px;
   font-size: 0.9em;
   cursor: pointer;
   margin-bottom: 5px;
}

select {
   background-color: red;
   padding: 5px 0px;
   width: 80px;
   border-radius: 3px;
   border-style: solid;
   border-width: thin;
   border-color: #d0d0d0;
   background-color: #f0f0f0;
   margin-right: 3px;
   font-size: 0.9em;
   cursor: pointer;
   margin-bottom: 5px;
  }

input {
   padding: 3px 10px;
   width: 140px;
   border-radius: 3px;
   border-style: solid;
   border-width: thin;
   border-color: #d0d0d0;
   margin-right: 3px;
   margin-bottom: 5px;
   font-size: 0.9em;
   width: 130px;
}

#textDiv {
  display: inline-block;
  width: 160px;
  height: 90px;
}

#addText {
  display: block;
}

#addParagraph {
  display: block;
}

#leftright {
  display: inline-block;
  width: 120px;
  height: 90px;
}

#updown {
  display: inline-block;
  width: 120px;
  height: 90px;
}

#containerAlignment {
  display: inline-block;
  width: 100px;
  height: 90px;
}

#leftSpace {
  display: block;
}

#rightSpace{
  display: block;
}

#upSpace{
  display: block;
}

#downSpace{
  display: block;
}

#borderWidthDiv {
  width: 80px;
}

#borderStyleDiv {
  width: 100px;
}

#borderRadiusDiv {
  width: 160px;
}

#borderColorDropdown {
  width: 90px;
}

#widthDiv {
  width: 180px;
}

#heightDiv {
  width: 170px;
}

@media only screen and (max-width: 500px) {
  .react-color-picker__saturation-spectrum {
    width: 200px !important;
    height: 200px !important;
  }
  .react-color-picker__hue-spectrum {
    height: 200px !important;
  }

  .textbutton {
     width: 70px;
     margin-right: 3px;
     font-size: 0.7em;
  }

  .buttonDiv button {
    width: 91px;
    font-size: 0.6em;
  }

  select {
     width: 70px;
     margin-right: 3px;
     font-size: 0.7em;
    }

  input {
     width: 75px;
     margin-right: 3px;
     margin-bottom: 5px;
     font-size: 0.6em;
  }

  .settingSection {
    width: 80px;
    margin-right: 2px;
  }

  #containerAlignment {
    width: 70px;
  }

  .settingSection input {
    width: 55px;
  }

  .createsection,
  .sections,
  .dimensions,
  .borderstyle,
  .positioning,
  .textstyle,
  .imagesize {
    height: 150px !important;
  }

  #textDiv {
    width: 70px;
    margin-right: 2px;
  }

  #leftright,
  #updown {
    width: 85px;
  }



}
