.colorpickerdiv {
  width: 400px;
  border: 1px dashed cyan;
}

.sections,
.dimensions,
.borderstyle,
.positioning {
  border: 2px solid #ccc;
  border-radius: 10px;
  display: block;
  width: 95%;
  height: 130px;
  margin: 10px 0;
  padding: 10px;
}

.settingSection,
.settingBorder,
.settingPosition {
  margin: 1px;
  float: left;
}

.settingSection {
  border: 1px dashed green;
  width: 130px;
}

.settingBorder {
  border: 1px dashed green;
  width: 110px;
}

.settingPosition {
  border: 1px dashed green;
}

h3 {
  margin-top: 5px;
}

h5 {
  margin: 0;
  margin-bottom: 2px;
}

.menu .plusButton {
  padding: 3px;
}

.menu .textButton {

}

.dropdown {
}

input {

}

#textDiv {
  display: inline-block;
  border: 1px dashed red;
  width: 160px;
  height: 90px;
}

#addText {
  display: block;
  border: 1px dashed blue;
}

#addParagraph {
  display: block;
  border: 1px dashed blue;
}

#leftright {
  display: inline-block;
  border: 1px dashed red;
  width: 120px;
  height: 90px;
}

#updown {
  display: inline-block;
  border: 1px dashed red;
  width: 120px;
  height: 90px;
}

#containerAlignment {
  border: 1px dashed red;
  display: inline-block;
  width: 100px;
  height: 90px;
}

#leftSpace {
  display: block;
  border: 1px dashed blue;
}

#rightSpace{
  display: block;
  border: 1px dashed blue;
}

#upSpace{
  display: block;
  border: 1px dashed blue;
}

#downSpace{
  display: block;
  border: 1px dashed blue;
}

#borderWidthDiv {
  width: 70px;
}

#borderStyleDiv {
  width: 70px;
}


.positioning {

}
